export SERVER_PORT=8888
export CORS_ALLOWED_ORIGINS="*"
# export SERVER_READ_TIMEOUT_SECS=30
# export SERVER_WRITE_TIMEOUT_SECS=30

export PROXY_PASS="http://localhost:9001"

export LOG_LEVEL="debug"
export LOG_FORMAT="text"
